.btn-danger {
    background-color: #fe4c36 !important;
    /* Override Bootstrap's btn-danger color */
    border-color: #fe4c36 !important;
    /* Override Bootstrap's btn-danger color */
}

.text-danger {
    color: #fe4c36 !important;
    /* Override Bootstrap's btn-danger color */
}

[data-bs-theme="dark"] .btn-tertiary {
    border-color: #505560 !important;
    background-color: #293035 !important;
}

[data-bs-theme="light"] .btn-tertiary {
    border-color: #dcdcdc !important;
    background-color: #fafafa !important;
}

.fixed-height-badge {
    height: 30px;
    /* Example fixed height */
    line-height: 18px;
    /* Adjust line height to vertically center the text */
    display: inline-block;
    /* Ensures the height is applied correctly */
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
    padding: 4px 16px;
}

.text-bg-danger {
    background-color: #fd7e14 !important;
}

.numberBadge {
    background-color: #fe4c36 !important;
    color: #ffffff;
}

.text-bg-warning {
    background-color: #ffc107 !important;
}

[data-bs-theme="dark"] .stateBadge {
    color: #000000 !important;
    /* Dark theme color for badges */
}

[data-bs-theme="light"] .stateBadge {
    color: #ffffff !important;
    /* Light theme color for badges */
}